.container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 30px;
}

.container2 {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 30px;
}

.backgroundRectangle {
  background-color: #edf6ff;
  width: 100%;
  height: 25rem;
  margin: 0; 
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.backgroundRectangle2 {
  background-color: #edf6ff;
  width: 100%;
  height: auto;
  margin: 0; 
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lineMid {
  background: rgba(161, 161, 161, 0.29);
  width: 100%;
  height: 0.19rem;
  margin: 0;
  position: absolute;
  top: 0;
}

.lineBottom {
  background: rgba(161, 161, 161, 0.29);
  width: 100%;
  height: 0.19rem;
  margin: 0;
  position: absolute;
  bottom: 0;
}

.lineTop {
  background: rgba(161, 161, 161, 0.29);
  width: 100%;
  height: 0.19rem;
  margin: 0;
  position: absolute;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  margin-top: 3rem;
}

.iconTitle {
  display: flex;
  align-items: flex-start;
  width: 70rem;
  margin-top: 0;
}

.icon {
  width: 5.7rem;
  height: 6.2rem;
  margin: 0;
  margin-right: 1.5rem;
}

.title {
  flex: 1;
  font-size: 4rem;
  color: var(--secondary-color);
  font-weight: 900;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.20);
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin: 0;
  margin-left: 2rem;
  white-space: normal;
  max-width: 100%;
}

.objectives {
  list-style: disc;
  padding: 0;
  margin: 2rem 0;
  margin-left: 2.2rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #2C274B;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
}

.objectives li {
  margin-bottom: 8px;
}

.labs {
  display: flex;
  text-align: right;
  margin-right: 2rem;
  margin-top: 4.5rem;
}

.labsText {
  margin-top: 0.5rem;
  margin-left: 2.5rem;
}

.lineVertical {
  background: rgba(161, 161, 161, 0.29);
  width: 0.19rem;
  height: 7rem;
  margin: 0;
  margin-top: 3rem;
  position: absolute;
}

.labs h3 {
  font-size: 1.5rem;
  color: #5e3aa1;
  font-weight: 800;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.20);
}

.labs ul {
  text-align: left;
  list-style: disc;
  padding: 0;
  margin: 0.8rem 0;
  margin-left: 2.2rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  color: #2C274B;
  font-size: 20px;
  font-weight: 500;
}

.map {
  margin: -4%;
  text-align: center;
}

.legend {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.legendItem {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 0.9rem;
}

.mandatory {
  background-color: #5e3aa1;
  color: #fff;
}

.optional {
  background-color: #bda7e2;
  color: #fff;
}

.courses {
  margin-bottom: 1%;
}

.subtitle {
  font-size: 4rem;
  color: #6747C7;
  text-align: center;
  margin-bottom: 2rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.20);
  font-weight: 900;
  margin-top: 0%;
}

.courseCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 9px 11px 11px -8px rgba(0, 0, 0, 0.17);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.card:hover {
  transform: translateY(-10px); /* Eleva o card levemente */
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25); /* Aumenta a sombra */
  background-color: #f7f7ff; /* Altera a cor de fundo para algo mais claro */
  border-color: #6747c7; /* Destaca a borda com a cor principal */
  cursor: pointer; /* Mostra o cursor como uma mão ao passar o mouse */
}

.card h3 {
  color: #5e3aa1;
  margin-bottom: 8px;
  transition: color 0.3s ease;
}

.card:hover h3 {
  color: #6747c7; /* Altera a cor do título ao passar o mouse */
}

.card p {
  margin: 4px 0;
  transition: color 0.3s ease;
}

.card:hover p {
  color: #333; /* Torna o texto mais destacado ao passar o mouse */
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #2C274B;
  color: #FFFFFF;
}

.footerLink {
  color: #FFFFFF;
  text-decoration: none;
}

.highlight {
  background-color: #e0e4ff;
  transition: background-color 0.3s ease;
}

.node-hover {
  stroke: #6747c7;
  stroke-width: 3px;
}

.node-clicked {
  stroke: #e0e4ff;
  stroke-width: 5px;
}

.selectedCard {
  background-color: #e0e4ff;
  border-color: #6747c7;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.35);
  transform: translateY(-5px);
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

@media (min-width: 0px) and (max-width: 480px) {

}

@media (min-width: 481px) and (max-width: 768px) {

}

@media (min-width: 769px) and (max-width: 1024px) {

}

@media (min-width: 1025px) and (max-width: 1280px) {

}

@media (min-width: 1281px) and (max-width: 1440px) {

}

@media (min-width: 1441px) and (max-width: 1920px) {

}
