/* globals.css */
:root {
  --primary-color: #2C274B;
  --secondary-color: #5436AD;
  --tertiary-color: #372179;
  --accent-color: rgba(252, 188, 73, 0.41);;
  --background-color: #EDF6FF;
  --white: #FFFFFF;
}

@font-face {
  font-family: 'Lemon';
  src: url('./fonts/Lemon-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('./fonts/Outfit-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('./fonts/Outfit-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('./fonts/Outfit-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

body {
  font-family: 'Outfit', sans-serif;
  color: var(--primary-color);
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

button {
  cursor: pointer;
  border: none;
  border-radius: 19px;
  background-color: var(--tertiary-color);
  color: var(--white);
  text-transform: uppercase;
  font-weight: 800;
  font-family: Outfit;
}
