/* page.module.css */
.header {
  display: flex;
  margin: 15px 60px;
  justify-content: space-between;
  align-items: center;
}

.lineTop {
  background: rgba(161, 161, 161, 0.29);
  width: 100%;
  height: 0.19rem;
  margin: 0;
  position: absolute;
}

.lineMid {
  background: rgba(161, 161, 161, 0.29);
  width: 100%;
  height: 0.19rem;
  margin: 0;
  position: absolute;
  top: 0;
}

.lineBottom {
  background: rgba(161, 161, 161, 0.29);
  width: 100%;
  height: 0.19rem;
  position: absolute;
  bottom: 0;
}

.logo {
  font-size: 36px;
  font-weight: bold;
  margin-left: 20px;
}

.nav a {
  font-size: 20px;
  font-weight: 400;
  margin-right: 30px;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease; /* Transição suave */
}

.nav a:first-child {
  margin-right: 55px;
}

.nav a:hover {
  color: #5436AD; /* Muda a cor para um tom roxo suave */
  transform: translateY(-2px); /* Move ligeiramente para cima */
}

.main {
  padding: 10px 0px;
  justify-content: space-evenly;
}

.backgroundRectangle {
  background-color: #edf6ff;
  width: 100%;
  padding: 5px 0px 55px 0px;
  height: 35rem;
  position: relative;
  box-sizing: content-box; 
}

.title {
  font-size: 98px;
  color: var(--secondary-color);
  font-weight: 900;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 100px 0px 0px 2px;
}

.accent {
  background-color: var(--accent-color);
  border-radius: 8px;
}

.buttonContainer {
  margin-top: 30px;
  display: flex;
  gap: 74px;
}

.button {
  width: 307px;
  height: 69.377px;
  font-size: 24px;
  padding: 307 69.4;
}

.button:hover { 
  background-color: #5436AD;
}

.textButtonContainer {
  width: 52%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section {
  background-color: #ffff;
  padding: 50px 20px;
}

.columns {
  display: flex;
  justify-content: center;
  gap: 70px;
}

.column {
  width: 480px; 
  height: auto;  
  border-radius: 18px;
  background: rgba(237, 246, 255, 0.34);
  box-shadow: 9px 11px 11px -3px rgba(0, 0, 0, 0.25);
  padding: 40px;  
}

.column {
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.column:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
  background-color: rgba(237, 246, 255, 0.5);
  cursor: pointer;
}

.columnTitle {
  text-align: center;
  font-size: 22px; 
  color: var(--secondary-color);
  font-weight: bold;
}

.columnTable {
  margin-left: 25px;
  font-size: 18px;  
  margin-bottom: 20px; 
}

.footer {
  background-color: var(--primary-color);
  color: var(--white);
  text-align: center;
  padding: 20px;
  height: 80px; 
}

.footerLink {
  color: #ffffff;
  text-decoration: none;
}

.contentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px 30px 0px;
}

.description {
  width: 100%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 24px;
  font-weight: 500;
  margin: 0px 0px 48px 0px;
}

.imageContainer {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainImage {
  max-width: 100%;
  height: 360px;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  margin-top: -40px;
  padding: 0px 20px 0px 5px;
}

.container2 {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0px 20px 0px 5px;
}

.column li {
  text-align: left;
  margin: 7px 0px 0px 12px;
}

.columnText {
  margin: 5px 0px 0px 12px;
}


@media (min-width: 0px) and (max-width: 480px) {
  .logo {
    font-size: 21px;
    margin: 30px 0px 5px 0px;
  }

  .nav a {
    font-size: 11px;
    margin: 0px 1px 15px 0px;
  }

  .header {
    flex-direction: column;
    align-items: center;
  }

  .nav {
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }

  .title {
    font-size: 43px;
    text-align: center;
    margin: 35px 0px 15px 0px;
  }

  .description {
    font-size: 13px;
    text-align: center;
    margin: 0px 0px 15px 0px; 
  }

  .buttonContainer {
    gap: 23px;
    justify-content: center;
    flex-wrap: wrap; 
  }

  .button {
    width: 160px;
    height: 35px;
    font-size: 14px;
  }

  .contentContainer {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    text-align: center; 
  }

  .column {
    width: 90%; 
    padding: 20px;
  }

  .column li {
    font-size: 12px;
  }

  .columnText {
    font-size: 12px; 
    text-align: center; 
  }

  .columnTitle {
    font-size: 16px;
    text-align: center; 
  }

  .imageContainer {
    display: none; 
  }

  .columns {
    flex-direction: column; 
    gap: 30px; 
    align-items: center; 
  }

  .backgroundRectangle {
    padding: 20px 0px 17px 0px; 
  }

  .column ol {
    padding: 0 20px;
    margin: 0; 
    list-style-position: inside; 
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .logo {
    font-size: 23px;
    margin: 30px 0px 5px 0px;
  }

  .nav a {
    font-size: 13px;
    margin: 0px 1px 15px 0px;
  }

  .header {
    flex-direction: column;
    align-items: center;
  }

  .nav {
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }

  .title {
    font-size: 58px;
    text-align: center;
    margin: 35px 0px 15px 0px;
  }

  .description {
    font-size: 15px;
    text-align: center; 
    margin: 0px 0px 15px 0px;
  }

  .buttonContainer {
    gap: 26px;
    justify-content: center;
    flex-wrap: wrap; 
  }

  .button {
    width: 180px;
    height: 40px;
    font-size: 15px;
  }

  .contentContainer {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
  }

  .column {
    margin: 0 auto; 
    text-align: center;
  }

  .column li {
    font-size: 11px;
  }

  .columnText {
    font-size: 11px;
    text-align: center;
  }

  .columnTitle {
    font-size: 16px;
    text-align: center; 
  }

  .imageContainer {
    display: none; 
  }

  .columns {
    flex-direction: column; 
    gap: 30px; 
    align-items: center; 
  }

  .backgroundRectangle {
    padding: 20px 0px 20px 0px;
  }

  .column ol {
    padding: 0 10px; 
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .logo {
    font-size: 25px;
    margin-top: 25px;
  }

  .nav a {
    font-size: 15px;
    margin-bottom:15px;
  }

  .header {
    flex-direction: column;
    align-items: center;
  }

  .nav {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding-top: 10px;
  }

  .title {
    font-size: 72px;
    text-align: center;
    margin: 35px 0px 15px 0px;
  }

  .description {
    font-size: 18px;
    text-align: center;
    margin: 0px 0px 15px 0px;
  }

  .buttonContainer {
    gap: 35px;
    justify-content: center;
  }

  .button {
    width: 200px;
    height: 46px;
    font-size: 17px;
  }

  .contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .column {
    margin: 0 auto;
    text-align: center;
  }

  .column li {
    font-size: 13px;
  }

  .columnText {
    font-size: 13px;
    text-align: center;
  }

  .columnTitle {
    font-size: 17px;
    text-align: center;
  }

  .imageContainer {
    display: none;
  }

  .columns {
    flex-direction: column;
    gap: 35px;
    align-items: center;
  }

  .backgroundRectangle {
    padding: 20px 0px 0px 0px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .logo {
    font-size: 28px;
  }

  .nav a {
    font-size: 15px;
  }

  .title {
    font-size: 78px;
  }

  .description {
    font-size: 18px;
  }

  .buttonContainer {
    gap: 48px;
  }

  .button {
    width: 220px;
    height: 50px;
    font-size: 18px;
  }

  .column li {
    font-size: 13px;
  }

  .columnText {
    font-size: 13px;
  }

  .columnTitle {
    font-size: 16px;
  }
}

@media (min-width: 1281px) and (max-width: 1440px) {
  .logo {
    font-size: 32px;
  }

  .nav a {
    font-size: 16px;
  }

  .title {
    font-size: 84px;
  }

  .columnTitle {
    font-size: 16px;
  }

  .description {
    font-size: 20px;
  }

  .buttonContainer {
    gap: 58px;
  }

  .button {
    width: 250px;
    height: 58px;
    font-size: 20px;
    padding: 270 64.4;
  }

  .column li {
    font-size: 14px;
  }

  .columnText {
    font-size: 14px;
  }

  .columnTitle {
    font-size: 17px;
  }
}

@media (min-width: 1441px) and (max-width: 1920px) {
  .logo {
    font-size: 34px;
  }

  .nav a {
    font-size: 18px;
  }

  .title {
    font-size: 90px;
  }

  .columnTitle {
    font-size: 18px;
  }

  .description {
    font-size: 22px;
  }

  .buttonContainer {
    gap: 64px;
  }

  .button {
    width: 280px;
    height: 64px;
    font-size: 23px;
    padding: 290 69.4;
  }

  .column li {
    font-size: 16px;
  }

  .columnText {
    font-size: 16px;
  }

  .columnTitle {
    font-size: 19px;
  }
}
