/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
/* page.module.css */
.page_header__kVzhN {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--background-color);
}

.page_logo__7fc9l {
  font-size: 24px;
  font-weight: bold;
}

.page_nav__zpG_3 a {
  margin-right: 15px;
}

.page_main__GlU4n {
  padding: 50px 20px;
  background-color: #EDF6FF;
}

.page_description__86bsR {
  flex: 1 1; /* Ocupa o espaço necessário */
  max-width: 600px; /* Limita a largura do texto */
  font-size: 18px;
  line-height: 1.6;
}

.page_title__3jonF {
  font-size: 48px;
  color: var(--secondary-color);
  font-weight: bold;
}

.page_accent__EQ5_p {
  color: var(--accent-color);
}

.page_buttonContainer__XCXUY {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.page_section__61PEw {
  background-color: #FFFF;
  padding: 50px 20px;
}

.page_columns__9s9qU {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.page_column__8vhW8 {
  max-width: 368px;
  max-height: 174px;
}

.page_columnTitle__xhNp6 {
  font-size: 20px;
  color: var(--secondary-color);
  font-weight: bold;
}

.page_footer__sHKi3 {
  text-align: center;
  padding: 20px;
  background-color: var(--primary-color);
  color: var(--white);
}

.page_contentContainer__xnyHl {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px; 
  margin-top: 20px;
}

.page_description__86bsR {
  flex: 1 1; 
  max-width: 600px; 
}

.page_imageContainer__gQbWL {
  flex: 1 1;
  display: flex;
  justify-content: center;
}

.page_mainImage__4lTcr {
  max-width: 100%;
  height: auto;
}




