.container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  padding-bottom: 50px;
}

.backgroundRectangle {
  background-color: #edf6ff;
  width: 100%;
  height: 25rem;
  padding: 1rem 0;
  margin: 0; 
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.backgroundRectangle2 {
  background-color: #edf6ff;
  width: 100%;
  height: 34rem;
  padding: 1rem 0;
  margin: 0; 
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lineMid {
  background: rgba(161, 161, 161, 0.29);
  width: 100%;
  height: 0.19rem;
  margin: 0;
  position: absolute;
  top: 0;
}

.lineBottom {
  background: rgba(161, 161, 161, 0.29);
  width: 100%;
  height: 0.19rem;
  margin: 0;
  position: absolute;
  bottom: 0;
}

.lineTop {
  background: rgba(161, 161, 161, 0.29);
  width: 100%;
  height: 0.19rem;
  margin: 0;
  position: absolute;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #3b5998;
}

.heroText {
  margin-top: 2rem;
}

.nav {
  display: flex;
  gap: 15px;
}

.navLink {
  text-decoration: none;
  color: #3b5998;
  font-weight: bold;
}

.image {
  width: 25rem;
  margin: 0;
}

.percursos {
  padding: 40px 20px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.sectionTitle {
  font-size: 4.5rem;
  color: #6747C7;;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.20);
  font-weight: 900;
  margin-bottom: 1.5rem;
  margin-top: 0;
  text-align: left;
}

.sectionTitle2 {
  font-size: 4rem;
  color: #6747C7;;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.20);
  font-weight: 900;
  margin-bottom: 0rem;
  margin-top: 0;
  text-align: center;
}

.percursosDescription {
  width: 46rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  font-weight: 500;
  margin: 0px 0px 20px 0px;
  text-align: left;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.card {
  background-color: rgba(237, 246, 255, 0.34);
  padding: 20px;
  border-radius: 19px;
  box-shadow: 9px 11px 11px -8px rgba(0, 0, 0, 0.17);
  text-align: center;
  width: 19.375rem;
  height: 27rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.card:hover {
  transform: translateY(-10px); 
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25); 
  background-color: rgba(237, 246, 255, 0.5); 
  cursor: pointer; 
}

.cardText {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.5;
}

.cardLink {
  color: #2C274B;
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0.5rem;
  background: rgba(152, 129, 255, 0.41);
  width: fit-content;
  margin: 1.5rem 2.9rem;
}

.cardLink2 {
  margin-top: 1.5rem;
  color: #2C274B;
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0.5rem;
  background: rgba(152, 129, 255, 0.41);
  width: fit-content;
}

.laboratorios {
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: center;
  height: auto;
}

.highlightLab {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.highlightLogo {
  width: 100px;
  margin-right: 20px;
}

.highlightText {
  text-align: left;
}

.highlightTitle {
  font-size: 24px;
  color: #5a37b6;
}

.highlightDescription {
  font-size: 14px;
  margin-top: 10px;
}

.carouselContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #edf6ff; 
  padding: 30px; 
  margin: auto; 
  max-width: 86%; 
}

.labCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 87rem; 
  height: 20rem;
  padding: 20px;
  border-radius: 19px;
  background-color: #fff;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  margin: 0%;
}

.labCardLink {
  display: block;
  text-decoration: none; 
  color: inherit;
}

.labCardText {
  text-align: left;
  margin: 8rem;
}

.labCardContent {
  display: flex;
  align-items: center;
  height: 100%; 
  width: 100%;
  text-decoration: none; 
  color: inherit;
}

.cardImage {
  width: 150px; 
  height: 150px; 
  object-fit: contain;
  margin-left: 5rem;
}

.cardTitle {
  font-size: 24px;
  color: #372179;
  font-weight: bold;
  margin-bottom: 10px;
  color: #6747C7;
  margin: 30px;
}

.cardText {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
  margin: 25px;
}

.cardTextlab {
  font-size: 2.25rem;
  line-height: 1.5;
  margin-bottom: 0px;
  margin-left: 25px;
  margin-right: 25px;
}

.cardTitleLab {
  color: #372179;
  font-size: 2.25rem;
  margin-bottom: 2rem;
  margin-right: 25px;
  font-weight: 800;
}

.cardLink a:hover {
  color: #6747c7;
}

.carouselButton {
  background: transparent;
  border: none;
  color: #372179;
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

.carouselButton:hover {
  transform: scale(1.4);
  color: #6747c7
}

.carouselButton.left {
  margin-right: 10px;
}

.carouselButton.right {
  margin-left: 10px;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #2C274B;
  color: #FFFFFF;
}

.footerLink {
  color: #FFFFFF;
  text-decoration: none;
}

.accent {
  background-color:rgba(152, 129, 255, 0.41);
  border-radius: 8px;
}

.backgroundWhite {
  background-color: #ffffff;
  width: 100%;
  padding: 1rem 0;
  margin: 0;
  position: relative;
}

.groupsContainer {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  gap: 2rem; 
  margin: 20px auto;
  max-width: 90%;
}

.row {
  display: flex; 
  justify-content: center;
  align-items: flex-start;
  gap: 2rem; 
  width: 100%;
  max-width: 90%;
}

.groupItem {
  text-align: left; 
  display: flex;
  gap: 2rem;
  justify-content: center;
  width: 45%; 
  height: 20rem;
  background-color: rgba(237, 246, 255, 0.34);
  padding: 20px;
  border-radius: 19px;
  box-shadow: 9px 11px 11px -8px rgba(0, 0, 0, 0.17);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.groupItem:hover {
  transform: translateY(-10px); 
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25); 
  background-color: rgba(237, 246, 255, 0.5); 
  cursor: pointer; 
}

.groupText {
  margin: 1.6rem;
}

.groupContent {
  display: flex;
  height: 100%; 
  width: 100%;
  text-decoration: none; 
  color: inherit;
}

.groupImage {
  width: 150px; 
  height: 150px;
  object-fit: contain;
  margin: 3.2rem 1rem;
}

.groupTitle {
  font-size: 2rem; 
  color: #372179;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.groupSubtitle {
  font-size: 1.2rem;
  color: #6747c7;
  font-weight: 600;
  margin-bottom: 1rem;
}

.groupDescription {
  font-size: 1rem;
  color: #333333;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.verticalDivider {
  width: 1px; 
  background-color: rgba(0, 0, 0, 0.2); 
  height: 400px; 
  margin: 0 20px; 
  position: relative;
}

.lineMid, .lineBottom {
  background: rgba(161, 161, 161, 0.29);
  width: 100%;
  height: 0.19rem;
  margin: 0;
  position: absolute;
}

/* Tamanho máximo de 768px (tablet e mobile) */
@media (max-width: 768px) {

  /* Imagens de destaque */
  .image {
    display: none;
  }

  .cardsContainer {
    flex-direction: column;
    gap: 15px;
  }

  .card {
    width: 100%;
    max-width: 320px;
    height: auto;
    margin: 10px auto;
  }

  .sectionTitle {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .sectionTitle2 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .percursosDescription {
    width: 100%;
    font-size: 16px;
    text-align: center;
  }

  /* Responsividade dos laboratórios */
  .carouselContainer {
    flex-direction: column; /* Organiza o carrossel em coluna */
    padding: 20px;
  }

  .labCard {
    width: 90%;
    max-width: 400px; /* Ajusta o tamanho máximo do cartão em telas menores */
  }

  .cardTitleLab {
    font-size: 1.6rem;
  }

  .cardTextLab {
    font-size: 1.1rem;
  }

  .cardLink2 {
    font-size: 0.9rem;
  }

  .carouselButton {
    font-size: 1.5rem; /* Reduz o tamanho dos botões em telas pequenas */
  }

  .row {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
  }
  
  .groupItem {
    width: 100%; /* Força os itens a se ajustarem ao tamanho da tela */
    margin: 10px 0; /* Adiciona um espaço entre os itens */
    padding: 15px;
  }

  .groupContent {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinha tudo ao centro para telas menores */
    justify-content: center;
    text-align: center;
  }

  .groupImage {
    width: 70%;  
    max-width: 100px; 
    height: auto; 
    object-fit: contain; 
    margin-bottom: -4%;
  }

  .groupText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .groupTitle {
    font-size: 1.8rem;
  }

  .groupSubtitle {
    font-size: 1.2rem;
  }

  .groupDescription {
    font-size: 1rem;
  }

  .footer {
    padding: 20px 10px;
    font-size: 14px;
  }
}

/* Para dispositivos pequenos (smartphones) */
@media (max-width: 480px) {

  .percursosDescription {
    font-size: 14px;
    margin: 0 10px;
  }

  .sectionTitle {
    font-size: 2.5rem;
  }

  .cardTitle {
    font-size: 1.6rem;
  }

  .cardText {
    font-size: 14px;
  }

  .groupTitle {
    font-size: 1.6rem;
  }

  .groupSubtitle {
    font-size: 0.9rem;
  }

  .groupDescription {
    font-size: 0.8rem;
  }

  .labCard {
    width: 100%;
    height: auto;
  }

  .carouselButton {
    font-size: 1.3rem;
  }

}
