/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/recursos/page.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
/* page.module.css */
.page_header__MTWKg {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #EDF6FF;
  }
  
  .page_logo__nuPkE {
    font-size: 24px;
    font-weight: bold;
    color: #2C274B;
  }
  
  .page_nav__yfhjE a {
    margin-right: 15px;
    color: #2C274B;
    text-decoration: none;
    font-weight: bold;
  }
  
  .page_main__hlJJt {
    text-align: center;
    padding: 50px 20px;
    background-color: #EDF6FF;
  }
  
  .page_introSection__IppbA {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  
  .page_introText__FCJR5 {
    max-width: 300px;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  .page_title__YsazM {
    font-size: 20px;
    font-weight: bold;
    color: #5436AD;
    margin-bottom: 10px;
  }
  
  .page_resourcesSection__ao6DK {
    padding: 40px 0;
    text-align: center;
    background-color: #EDF6FF;
  }
  
  .page_sectionTitle__UOcmn {
    font-size: 36px;
    color: #5436AD;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .page_searchContainer__aBxzW {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .page_searchInput__Bc_qQ {
    padding: 10px;
    border: 1px solid #A1A1A1;
    border-radius: 8px 0 0 8px;
    font-size: 16px;
    width: 300px;
  }
  
  .page_searchButton__SkoHD {
    padding: 10px;
    background-color: #5436AD;
    color: #FFFFFF;
    border: none;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
  }
  
  .page_resourceCards__D9At_ {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    gap: 20px;
    padding: 20px;
  }
  
  .page_card__H2rFV {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    color: #2C274B;
    font-weight: bold;
    text-align: center;
  }
  
  .page_footer__8KW_3 {
    text-align: center;
    padding: 20px;
    background-color: #2C274B;
    color: #FFFFFF;
  }
  
  .page_footerLink__EMkod {
    color: #FFFFFF;
    text-decoration: none;
  }
  
